<div 
    bsModal #changeItemModal="bs-modal" 
    class="modal fade" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="mySmallModalLabel" 
    aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header ">      
          <h4 class="modal-title pull-left" *ngIf="item._id">Изменить товар</h4>
          <h4 class="modal-title pull-left" *ngIf="!item._id">Добавить товар</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <div class="modal-body">		      
          <!-- Error Message -->
          <div class="row">
              <div class="col-md-8 col-offset-4 text-center">
                  <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
              </div>
          </div>

          <div class="form-group">
		          <div class="row">
        		      <div class="col-md-4-offset-2">
               		   <label class="form-control-label" for="category">Категория</label>
                  </div>
				          <div class="col-md-4-offset-2">
                      <select [(ngModel)]="item.category"
                    		  name="category"
                    		  type="text"
                      >
                          <option *ngFor="let c of category" [value]="c.name">{{c.name}}</option>
                      </select>
                  </div>
              </div>
              <div class="row">
        		      <div class="col-md-4-offset-2">
               		   <label class="form-control-label" for="name">Название</label>
                  </div>
				          <div class="col-md-4-offset-2">
                      <input class="form-control"
                          [(ngModel)]="item.name"                                            
                    		  name="name"
                    		  type="text"
                      />
            	    </div>
              </div>            
              <div class="row">
        		      <div class="col-md-4-offset-2">
               		    <label class="form-control-label" for="priceIn">Закупочная стоимость</label>
                  </div>
				          <div class="col-md-4-offset-2">
                      <input class="form-control"
                          [(ngModel)]="item.priceIn"                                            
                    		  name="priceIn"
                    		  type="number"
                      />
                  </div>
              </div>
              <div class="row">
        		      <div class="col-md-4-offset-2">
                      <label class="form-control-label" for="priceOut">Розничная цена</label>
                  </div>
				          <div class="col-md-4-offset-2">
                      <input class="form-control"
                          [(ngModel)]="item.priceOut"                                            
                    		  name="priceOut"
                    		  type="number"
                      />
                  </div>
              </div>   
		      </div>
      </div>

	    <div class="modal-footer">
		      <div class="row text-center">
              <button *ngIf="!item._id" type="button" class="btn btn-success" (click)="Save()"> Сохранить </button>
              <button *ngIf="item._id" type="button" class="btn btn-success" (click)="Update()"> Сохранить </button>
          </div>
      </div>

    </div>
  </div>
</div>