<div class="container marg">
  <!-- Error Message -->
  <div class="row">
    <div class="col-md-8 col-offset-4 text-center">
      <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
    </div>
  </div>

  <div class="row vertical-align">    
    <div class="col-md-4 text-center">
      <h1>Soshace Test </h1>
    </div>
    <div class="col-md-8">
      <button type="button" class="btn btn-success" (click)="addItem()"> Добавить товар</button>
      <button type="button" class="btn btn-success" (click)="addCategory()"> Добавить категорию</button>      
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 listC">
      <app-category-list 
          #categoryView
          [categories]="c"
          (onChanged)="updateList()"
          (onFilter)="updateFilter($event)"
      ></app-category-list>
    </div>
    <div class="col-md-9 text-center">
      <app-item-list 
          #itemView
          [categories]="c"
          [filterargs]="f"
      ></app-item-list>
    </div>
  </div>
</div>