<div class="container marg">
  <div class="row vertical-align">
    <div class="col-md-5 text-center">
      <h1>Soshace Test </h1>
    </div>
    <div class="col-md-7">
      <button type="button" class="btn btn-success" (click)="addItem()"> Добавить товар</button>
      <button type="button" class="btn btn-success" (click)="addCategory()"> Добавить категорию</button>      
    </div>
  </div>
  <div class="row vertical-align">
    <div class="col-md-5 text-center">
      <app-category-list></app-category-list>
    </div>
    <div class="col-md-7 text-center">
      <app-item-list #itemView></app-item-list>
    </div>
  </div>
</div>