<div class="row" *ngFor="let category of categories">	
	<div class="col-md-12">
		<button type="button" class="btn btn-danger btn-xs" (click)="removeCategory(category)">
			<i class="fa fa-trash-o fa-fw"></i>
		</button>
		<a (click)="updateFilter(category.name)"> {{ category.name }}</a>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<a (click)="updateFilter(['null', categories])" > Без категории </a>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<a (click)="updateFilter('')" > Все товары </a>
	</div>
</div>

<app-category-add-modal  
			#addModal 
			[category]="categoryAdd"
			(onChanged)="updateList()"
></app-category-add-modal>
<app-category-delete-modal  
			#deleteModal 
			[category]="categoryRemove"
			(onChanged)="updateList()"
></app-category-delete-modal>