<div class="row" 
				*ngFor="let category of categories; let i = index" 
				[ngClass]="{ 'bg-info' : activeNav == i }"
>	
	<div class="col-md-12">
		<button 
			   type="button" 
			   class="btn btn-danger btn-xs" 
			   (click)="removeCategory(category)"
			   tooltip="Это удалит категорию."
        	   placement="right"
		>
			<i class="fa fa-trash-o fa-fw"></i>
		</button>
		<a (click)="updateFilter(category.name, i)"> {{ category.name }}</a>
	</div>
</div>

<div class="row">
	<div class="col-md-12" [ngClass]="{ 'bg-info' : activeNav == -1 }">
		<a (click)="updateFilter(['null', categories], -1)" > Без категории </a>
	</div>
</div>

<div class="row">
	<div class="col-md-12" [ngClass]="{ 'bg-info' : activeNav == -2 }" >
		<a (click)="updateFilter('', -2)" > Все товары </a>
	</div>
</div>

<app-category-add-modal  
			#addModal 
			[category]="categoryAdd"
			(onChanged)="updateList()"
></app-category-add-modal>

<app-category-delete-modal  
			#deleteModal 
			[category]="categoryRemove"
			(onChanged)="updateList()"
></app-category-delete-modal>