<table class="table table-striped">
            <thead>
                <tr>
                	<th>ID</th>
                    <th>Название товара</th>
                    <th>Цена покупки</th>
                    <th>Цена продажи</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items ; let i = index">
                	<td>{{ i+1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.priceIn }}</td> 
                    <td>{{ item.priceOut }}</td>          
                    <td>
                    	<button type="button" class="btn btn-danger" (click)="removeItem(i+1, item)"> Удалить </button>
                    	<button type="button" class="btn btn-primary" (click)="changeItem(item)"> Изменить </button>
                    </td>           
                </tr>
            </tbody>
</table>

<app-item-detail-modal 
        #changeModal 
        [item]="itemSelect"
        [category]="categories"
        (onChanged)="updateList()"
></app-item-detail-modal>

<app-item-delete-modal
        #deleteModal [item]="itemRemove" 
        [idx]="itemIdx" 
        (onRemove)="updateList()"
></app-item-delete-modal>

